# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

PlayTools/.qmake.stash
PlayTools/.vs/
PlayTools/PlayTools.sln
PlayTools/PlayTools.vcxproj
PlayTools/PlayTools.vcxproj.filters
PlayTools/PlayTools.vcxproj.user
PlayTools/debug/
PlayTools/release/

